<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<header>
    <div class="container">
        <h2 style="color:orange;text-align: center;">Financial Calculator using flask API</h2>
    </div>
</header>

<div align="center" ;class="ml-container">
    <div>
        Minghao Kang, Fangchi Wu, Shiraz Bheda, Yuwen Jin
    </div>
</div>


<p style="color:orange;text-align: center;"><b> Enter information of the option you want to explore </b></p>
<div align="center" ;class="row">
    <form action="{{ url_for('user_rec') }}" method="POST">

        <!-- ———————————————————————————————————————————— -->


        <p>ticker <input type="text" name="ticker" required/></p>
        {% with messages = get_flashed_messages(category_filter='ticker') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Stock price <input type="text" name="S" required/></p>
        {% with messages = get_flashed_messages(category_filter='S') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Strike price <input type="text" name="K" required/></p>
        {% with messages = get_flashed_messages(category_filter='K') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Risk free return <input type="text" name="r"/></p>
        {% with messages = get_flashed_messages(category_filter='risk') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Time to maturity <input type="text" name="T" required/></p>
        {% with messages = get_flashed_messages(category_filter='T') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <!-- ———————————————————————————————————————————— -->

        <p style="color:orange;text-align: center;"><b>Select financial models you want to use to price the option</b>
        </p>
        <div class="col-sm-2 ">
            <label>
                <input name="pricing_model" value="BS model" type="checkbox"> BS model
            </label>
        </div>

        <div class="col-sm-2 ">
            <label>
                <input name="pricing_model" value="Binomial Tree" type="checkbox"> Binomial Tree
            </label>
        </div>

        <div class="col-sm-2 ">
            <label>
                <input name="pricing_model" value="Trinomial Tree" type="checkbox"> Trinomial Tree
            </label>
        </div>
        {% with messages = get_flashed_messages(category_filter='model') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- ———————————————————————————————————————————— -->


        <p style="color:orange;text-align: center;"><b>Select the type of option you are interested in</b></p>
        <div class="col-sm-2 ">
            <label>
                <input name="option_type" value="European Option" type="checkbox"> European Option
            </label>
        </div>

        <div class="col-sm-2 ">
            <label>
                <input name="option_type" value="American Option" type="checkbox"> American Option
            </label>
        </div>
        {% with messages = get_flashed_messages(category_filter='type') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p style="color:orange;text-align: center;"><b>What period of candle stick you prefer?</b></p>
        <div class="col-sm-2 ">
            <label>
                <input name="candle_stick" value="Day" type="radio"> Daily Chart
            </label>
        </div>

        <div class="col-sm-2 ">
            <label>
                <input name="candle_stick" value="Week" type="radio"> Weekly Chart
            </label>
        </div>
        {% with messages = get_flashed_messages(category_filter='period') %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: indianred; font-size: 20px;font-weight:bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>

        <input type="submit" class="btn-lg" value="submit" style="width:125px;height:30px;
        background-color:pink;color: lightcoral;font-weight:bold;font-size:16px">

    </form>
</div>
<meta name="referrer" content="never">
<div align="center">
    {% for i in range(3) %}
        <label> </label> <img src="static/illustration1.jpg" width="225" height="225" alt=""/>
        <label> </label> <img src="static/illustration2.jpg" width="225" height="225" alt=""/>
    {% endfor %}
</div>

<div align="center">

    <form action="{{ url_for('manage_portfolio') }}" method="POST">
        <button type="submit" style="width:250px;height:65px;background-color:lightpink;
        color: indianred;font-weight:bold;font-size:20px">Manage your portfolio
        </button>
    </form>

</div>
<br>

</body>
</html>